@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}



.main {
    width: 100%;
    background: white;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 600px;
    float: left;
    height: 70px;
}

.name-site {
    color: #2e5da1;
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu {
    width: 600px;
    float: left;
    height: 70px;
}

.menu ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.menu ul li a:hover {
    color: #2e5da1;
}


/*templet form https://www.w3schools.com/howto/howto_css_timeline.asp*/
* {
    box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #2e5da1;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #2e5da1;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #2e5da1;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #2e5da1;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #2e5da1;
    border-width: 10px 10px 10px 0;
    border-color: transparent #2e5da1 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    border: 2px solid #2e5da1;

}

.head {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}